<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

  <include resource="logback-common.xml"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>utf-8</charset>
      <Pattern>[BATCH-PENEF-IMPORT-CMS-FRA] %d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger: %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="priam-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${priam.log.default.directory}/priam-batch-penef-import-cms-fra.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${priam.log.default.directory}/priam-batch-penef-import-cms-fra.%i.log</fileNamePattern>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <charset>utf-8</charset>
      <Pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger - %m%n</Pattern>
    </encoder>
  </appender>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="priam-file" />
  </root>

</configuration>
