<Context path="/priam">

    <Resource type="javax.sql.DataSource"
              driverClassName="com.mysql.jdbc.Driver"
              name="priamMariaDbDataSource"
              username="priam_app"
              password="bidon"
              url="jdbc:mysql://msqdev08:3306/priam_app"/>

</Context>
