/* ----- Classe générale pour tous les sprites */
.socspr32 {
    width: 32px;
    height: 32px;
    background-image: url("../images/societairesprite32.png");
    background-repeat:  no-repeat;
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
}
/* ----- Sociétaire ----- */
.soc32 {
    background-position: -0px -0px;
}
/* ----- Sociétaire (non valide) ----- */
.socnonval32 {
    background-position: -33px -0px;
}
/* ----- Sociétaire identifié IPI ----- */
.socipi32 {
    background-position: -66px -0px;
}
/* ----- Personne ----- */
.per32 {
    background-position: -0px -33px;
}
/* ----- Personne (non valide) ----- */
.pernonval32 {
    background-position: -33px -33px;
}
/* ----- Personne identifié IPI ----- */
.peripi32 {
    background-position: -66px -33px;
}
/* ----- Groupe ----- */
.grp32 {
    background-position: -0px -66px;
}
/* ----- Groupe (non valide) ----- */
.grpnonval32 {
    background-position: -33px -66px;
}
/* ----- Groupe identifié IPI ----- */
.grpipi32 {
    background-position: -66px -66px;
}
/* ----- Personne morale ----- */
.pem32 {
    background-position: -0px -99px;
}
/* ----- Personne morale (non valide) ----- */
.pemnonval32 {
    background-position: -33px -99px;
}
/* ----- Personne morale identifiée IPI ----- */
.pemipi32 {
    background-position: -66px -99px;
}
/* ----- Œuvre ----- */
.oeuv32 {
    background-position: -0px -132px;
}
/* ----- Œuvre codifiée ----- */
.oeuvcodif32 {
    background-position: -33px -132px;
}
/* ----- Œuvre numérique ----- */
.oeuvnum32 {
    background-position: -66px -132px;
}
