/* ----- Classe générale pour tous les sprites */
.socspr20 {
    width: 20px;
    height: 20px;
    background-image: url("../images/societairesprite20.png");
    background-repeat:  no-repeat;
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
}
/* ----- Sociétaire ----- */
.soc20 {
    background-position: -0px -0px;
}
/* ----- Sociétaire (non valide) ----- */
.socnonval20 {
    background-position: -21px -0px;
}
/* ----- Sociétaire identifié IPI ----- */
.socipi20 {
    background-position: -42px -0px;
}
/* ----- Personne ----- */
.per20 {
    background-position: -0px -21px;
}
/* ----- Personne (non valide) ----- */
.pernonval20 {
    background-position: -21px -21px;
}
/* ----- Personne identifié IPI ----- */
.peripi20 {
    background-position: -42px -21px;
}
/* ----- Groupe ----- */
.grp20 {
    background-position: -0px -42px;
}
/* ----- Groupe (non valide) ----- */
.grpnonval20 {
    background-position: -21px -42px;
}
/* ----- Groupe identifié IPI ----- */
.grpipi20 {
    background-position: -42px -42px;
}
/* ----- Personne morale ----- */
.pem20 {
    background-position: -0px -63px;
}
/* ----- Personne morale (non valide) ----- */
.pemnonval20 {
    background-position: -21px -63px;
}
/* ----- Personne morale identifiée IPI ----- */
.pemipi20 {
    background-position: -42px -63px;
}
/* ----- Œuvre ----- */
.oeuv20 {
    background-position: -0px -84px;
}
/* ----- Œuvre codifiée ----- */
.oeuvcodif20 {
    background-position: -21px -84px;
}
/* ----- Œuvre numérique ----- */
.oeuvnum20 {
    background-position: -42px -84px;
}
